.pie{
	position: absolute;
	z-index: 0;
	left:0;
	top:0;
	width: 140px;
	height: 140px;
	line-height:140px;
	border-radius:50%;
	text-align: center;
	color: #000;
	font-size: 140%;
	background-color:#f0f0f0;
	overflow:hidden;
	background-image: linear-gradient(to right, transparent 50%, yellowgreen 0);
	cursor:pointer;
}
.pie span{
	position:absolute;
	top:0;
	width:50%;
	height:100%;
	z-index:-1;
	transform:rotate(0turn);
	display: block;
}
.pie>.span_1{
	left:50%;
	background-color: inherit;
	transform-origin: left;
	transition:transform 1s linear;
}
.pie>.span_2{
	opacity: 0;
	left:50%;
	background-color: yellowgreen;
	transform-origin: left;
	transition: transform 1s linear 1s;
}